<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/styles/style.css">    
</head>
<body>
    <header>
        <div id="logo">
           <a href="/"> <h1>BlogIt</h1></a>
        </div>
        
            <ul id="nav">
                <li><a href="/signup" id="a1">
                    New Blog
                </a></li>
                <li><a href="/about" id="a2">
                    About Us
                </a></li>
                <li><a href="/contact" id="a3">Contact Us</a></li>
            </ul>
            <i id="bar" class="fa-solid fa-bars"></i>
            <i id="close" class="fa-solid fa-x"></i>
        
               
          
    </header>
     <ul id="nav1">
                    <li><a href="/blog" id="a1">
                        New Blog
                    </a></li>
                    <li><a href="/about" id="a2">
                        About Us
                    </a></li>
                    <li><a href="/contact" id="a3">Contact Us</a></li>
                </ul>
</body>
</html>
