<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div id="container">
      <%- include('partials/header') %>

      <div id="home">
        <div id="text">
          <div class="cont">
            <h2>About BlogIt</h2>
            <p>
              Welcome to BlogIt, your source for insightful articles covering
              <br />
              diverse topics such as technology, science, lifestyle, and travel.
            </p>
          </div>
          <div class="cont">
            <h2>Our Mission</h2>
            <p>
              At BlogIt, we aim to provide high-quality content that
              educates,<br />
              entertains, and connects readers worldwide.
            </p>
          </div>
          <div class="cont">
            <h2>What We Offer</h2>
            <ul>
              <li>Informative articles on a wide range of topics</li>
              <li>Engaging content that keeps readers coming back for more</li>
              <li>Opportunities for guest bloggers to share their expertise</li>
            </ul>
          </div>
        </div>
        <img src="/images/about.png" alt="" srcset="" />
      </div>
      <%- include('partials/footer') %>
    </div>
    <script
      src="https://kit.fontawesome.com/ee02c1c754.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
