<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <div id="container">
      <%- include('partials/header') %>
      <div class="login-container">
        <!-- Form inputs -->
         <form action="/profile" method="POST">
        <div>
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" name="username"  />
        </div>
       
        <div>
          <i class="fas fa-envelope"></i
          ><input type="email" placeholder="Email" name="email" />
        </div>
        <div>
          <i class="fas fa-lock"></i
          ><input type="password" placeholder="Password"  name="password"/>
        </div>

        <div>
          <i class="fas fa-phone"></i
          ><input type="text" placeholder="Phone Number"  name="tel"/>
        </div>
        <div>
          <i class="fas fa-map-marker-alt"></i
          ><input type="text" placeholder="Address" name="address" />
        </div>
        <!-- Submit button -->
        <input type="submit" value="Sign Up" />
        <!-- Error message -->
        <div class="error-message"></div>
        <!-- Sign up link -->
        <a href="/login" class="signup-link">Already have an account? </a>
        </form>
      </div>

      <%- include('partials/footer') %>
    </div>
    <script
      src="https://kit.fontawesome.com/ee02c1c754.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/signup.js"></script>
  </body>
</html>
